*{
    padding: 0px;
    margin: 0px;
}

.Main_page_title {
    text-align: center;
    font-family:sans-serif, Arial, Helvetica;
    font-weight: 900;
}

.navbar_main_page {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(103, 103, 101);
}
.navbar_main_page a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        padding: 20px;
        margin: 20px;
}
.navbar_main_page :hover {
    background-color: rgb(83, 83, 83);
}

.wrapper_main_food_display {
    display: flex;
    flex-direction: column;
    padding:10px;
}